# Directories #
################################################################################
bin
/src/**/-out

# Files #
################################################################################
cfg_params_generated.svh