# Directories #
################################################################################
bin
/src/**/-out
/test/**/-out
#/ip/**/*
#!ip/**/
.Xil

# Files #
################################################################################
cfg_params_generated.svh
webtalk.*
*.log
*.jou
*.str
*.mif

#!ip/**/*.qsys
#!ip/**/*.v
#!ip/**/*.qip
#!ip/**/*.ppf
#!ip/**/*.tcl
#!ip/fifo_512x8/*.*

