# Directories #
################################################################################
bin
/src/**/-out
/test/**/-out
/ip/**/*
!ip/**/

/slon1_ip/*
!slon1_ip/src/

# Files #
################################################################################
cfg_params_generated.svh

!ip/**/*.qsys
!ip/**/*.v
!ip/**/*.qip
!ip/**/*.ppf
!ip/**/*.xcix

!slon1_ip/*.xpr
*.jou
*.log


